:root {
   --basic-grey: #32425C;
   --basic-darkgrey: #293449;
   --basic-greylight: #C5C5C5;
   --basic-red: #EE3643;
   --basic-redlight: #F7F3EC;
   --shop-nav-focus: #161d29;
   --main-nav-focus: #1D2739;
   --btn-green: #63A63E;
   --btn-green-hover: #5FBB2D;
   --btn-green-focus: #518534;
   --btn-red-hover: #CA2C37;
   --btn-red-focus: #BA2732;
   --btn-grey-focus: rgb(50, 66, 92, 0.5);
   --basic-white: #ffffff;
   --white-op3: rgb(255, 255, 255, 0.3);
   --white-op5: rgb(255, 255, 255, 0.5);
   --basic-black: #000000;
   --background-grey: #f1f5f7;
   --
   --special-yellow: #ffbf47;
   --special-blue: #3bbce3;
   --special-lilac: #dc91d8;
   --special-green: #8ed78f;
   --special-yellowlight: #ffc047;
   --special-btn-hover: rgb(197, 197, 197, 0.3);
   --special-btn-focus: rgb(169, 169, 169, 0.3);
   --old-price: #a9a9a9;
   --footer-nav2: #FFD180;
   --footer-nav1-focus: rgb(241, 245, 247, 0.5);
   --footer-nav2-focus: rgb(255, 209, 128, 0.5);
}

