/* VARIABLES */

:root {
   --basic-grey: #32425C;
   --basic-darkgrey: #293449;
   --universal-grey: #C5C5C5;
   --basic-red: #EE3643;
   --basic-redlight: #F7F3EC;
   --shop-nav-focus: #161d29;
   --main-nav-focus: #1D2739;
   --btn-green: #63A63E;
   --btn-green-hover: #5FBB2D;
   --btn-green-focus: #518534;
   --btn-red-hover: #CA2C37;
   --btn-red-focus: #BA2732;
   --btn-grey-focus: rgb(50, 66, 92, 0.5);
   --basic-white: #ffffff;
   --white-op3: rgb(255, 255, 255, 0.3);
   --white-op5: rgb(255, 255, 255, 0.5);
   --basic-black: #000000;
   --basic-black-op: rgba(0, 0, 0, 0.3);
   --background-grey: #f1f5f7;
   --special-yellow: #ffbf47;
   --special-blue: #3bbce3;
   --special-lilac: #dc91d8;
   --special-green: #8ed78f;
   --special-yellowlight: #ffc047;
   --special-btn-hover: rgb(197, 197, 197, 0.3);
   --special-btn-focus: rgb(169, 169, 169, 0.3);
   --old-price: #a9a9a9;
   --footer-nav2: #FFD180;
   --footer-nav1-focus: rgb(241, 245, 247, 0.5);
   --footer-nav2-focus: rgb(255, 209, 128, 0.5);
   --page-border: #e5e5e5;
   --product-border: #eaeaea;
}

/* GLOBAL */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-grey)
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.btn-red {
    background-color: var(--basic-red);
}

.btn-red:hover {
    background-color: var(--btn-red-hover);
}

.btn-red:focus {
    background-color: var(--btn-red-focus);
}

.main-caption,
.about-caption,
.services-item-caption {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.main-caption {
    background-color: var(--basic-redlight);
}

.about-caption {
    color: var(--basic-black);
}

.products-caption {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    line-height: 20px;
    color: var(--basic-black);
    margin: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* GRID */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* HEADER TOP */

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-header-top {
    background-color: var(--basic-darkgrey);
    color: var(--basic-white);
    height: 42px;
}

.main-header-top .container {
    display: flex;
}

.main-header-logo {
    height: 42px;
    min-width: 220px;
    background-color: var(--basic-red);
    border-bottom: 5px solid var(--btn-red-focus);
}

.search {
    height: 42px;
    width: 270px;
    padding: 0;
    padding-left: 43px;
    background-color: transparent;
    border: none;  
}


.shop-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 42px;
}

.shop-nav-item {
    width: 150px;
    padding-top: 10px;
    text-align: center;
}

.shop-nav-item a,
.order-link {
    color: var(--basic-white);
}

.shop-nav-item a {
    padding-left: 8px;
}

.order-link {
    background-color: var(--btn-green);
}

.shop-nav-item a:focus,
.order-link:focus {
    color: var(--white-op5);
}

.shop-nav-item:active {
    background-color: var(--shop-nav-focus);
}

.shop-nav-item:nth-child(3):hover {
    background-color: var(--btn-green-hover);
}
.shop-nav-item:nth-child(3):active {
    background-color: var(--btn-green-focus);
}

/* HEADER BOTTOM */

.main-header-bottom {
    padding-top: 42px;
    padding-bottom: 60px;
    background-color: var(--background-grey);
}


.desc,
.contacts-phone {
    color: var(--basic-red);
}

.desc {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    margin: 0;
    margin-left: 30px;
}

.address-content {
    text-align: center;
    width: 270px;
    height: 45px;
}

.phone-container {
    padding: 7px 40px 5px 68px;
    border: 3px solid #FFFFFF;
}

.contacts-phone {
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
}

.main-header-bottom address {
    color: var(--basic-grey);
    font-size: 14px;
    font-style: normal;
}

.user-nav {
    text-align: right;
}

.login-link,
.reg-link {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    line-height: 21px;
}

.login-link:hover,
.reg-link:hover {
    color: var(--basic-red);
}

.login-link:focus,
.reg-link:focus {
    color:var(--universal-grey)
}

.main-nav {  
    grid-column-start: 1;
    grid-column-end: 4;
}

.nav-list {
    background-color: var(--basic-grey);
    border-bottom: 5px solid var(--main-nav-focus);
    list-style: none;
    margin: 0;
    margin-top: 45px;
    padding: 0;
    padding-left: 23px;
    padding-right: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-item a {
    color: var(--basic-white);
}

.nav-item:hover {
    background-color: var(--basic-darkgrey);
}

.nav-item a:focus {
    background-color: var(--main-nav-focus);
    color:  var(--white-op5);
}

.username {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.username:focus,
.my-orders:focus,
.account:focus {
    color: var(--universal-grey);
}

.my-orders,
.account {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey);
}

.my-orders:hover,
.account:hover {
    color: var(--basic-red);
}
.my-orders:focus,
.account:focus {
    color: var(--universal-grey);
}

/* PROMO */

.promo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px 20px;
}

.promo h1,
.promo h2 {
    grid-column: 1/4;
}

.promo-item h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: var(--basic-white);
}

.promo-item {
    min-height: 123px;
}

.materials {
    background-color: var(--special-yellow);
}

.instruments {
    background-color: var(--special-blue);
}

.technics {
    background-color: var(--special-lilac);
}

.sale {
    background-color: var(--special-green);
}

.delivery {
    background-color: var(--special-yellowlight);
}

.btn-promo {
    color: var(--basic-white);
    background-color: var(--white-op3);
}

.btn-promo:hover {
    background-color: var(--special-btn-hover);
}

.btn-promo:focus {
    background-color: var(--special-btn-focus);
}


.main-product-item {
    background-image: url(img/perforator.jpg);
    background-color: var(--basic-grey);
    color: var(--basic-white);
    min-height: 266px;
    min-width: 620px;
    grid-column: 1/3;
    grid-row: 2/4;
}


.main-product-item h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
}

/* POPULAR PRODUCTS */

.products-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.new {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
}

.products-item {
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 20px;
    font-weight: bold;
    border: 1px solid var(--product-border);
    width: 218px;
    min-height: 316px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.products-item:nth-child(4n+4) {
    margin-right: 0;
}

.price,
.old-price {
    font-size: 17px;
    line-height: 18px;
}

.old-price{
    color: var(--old-price);
    text-decoration-line: line-through;
}

.price {
   background-color: var(--basic-red); 
   color: var(--basic-white);
}

.btn-buy {
    background-color: var(--btn-green);
    color: var(--basic-white);
}

.btn-buy:hover {
    background-color: var(--btn-green-hover);
    
    color: var(--basic-white);
}

.btn-buy:focus {
    background-color: var(--btn-green-focus);
    color: var(--basic-white);
}

.btn-save {
    background-color: var(--basic-white);
    color: var(--basic-grey);
    border: 2px solid var(--btn-green);
}

.btn-save:hover {
    background-color: var(--basic-white);
    border-color: var(--basic-grey);
}

.btn-save:focus {
    background-color: var(--basic-white);
    opacity: 0.5;
}

/* SORTING */

.filter,
.sorting {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-redlight);
}

.sorting-list {
    list-style: none;
    color: var(--basic-black);
}

.sorting-list-item .active-sort {
    color: var(--basic-red);
    border-bottom: none;
}

.sorting-list-item a {
    color: var(--basic-black-op);
    border-bottom: 1px dashed var(--basic-red);
}

.sorting-list-item a:hover {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-red);
}

.sorting-list-item a:focus {
    color: var(--basic-red);
    border-bottom: none;
}

/* PRODUCTS */

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    color: var(--basic-black);
}

.pages-list {
    list-style: none;
}


.pages-item a{
    color: var(--basic-black);
    border: 1px solid var(--page-border);
    box-sizing: border-box;
    border-radius: 2px;
}

.pages-item .active-page {
    border-color: var(--basic-red);
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.pages-item a:hover{
    color: var(--basic-black);
    border: 1px solid var(--universal-grey);
    box-sizing: border-box;
    border-radius: 2px;
}

.pages-item a:focus{
    color: var(--basic-black);
    border: 1px solid var(--basic-red);
    box-sizing: border-box;
    border-radius: 2px;
}

/* POPULAR MANUFACT */

.popular-manufacturers-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.popular-manufacturer {
    border: 1px solid var(--product-border);
    box-sizing: border-box;
    width: 220px;
    height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-manufacturer:nth-child(4n+4) {
    margin-right: 0;
}

/* SERVICES */

.services-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-caption {
    margin: 0;
}

.services,
.company,
.contacts,
.about-perf {
    color: var(--basic-black);
    font-size: 13px;
}

.services p,
.company p,
.contacts p,
.about-perf p {
    font-family: "PT Sans", Arial, sans-serif;
    width: 331px;
}

.services .services-desc {
    width: 400px;
    margin-top: 25px;
    margin-bottom: 70px;
}
.services {
    background-color: var(--background-grey);
    padding-top: 64px;
    padding-bottom: 99px;
}

.services-list {
    list-style: none;
    width: 240px;
    margin: 0;
    padding: 0;
}

.services-item {
    height: 31px;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--basic-grey);
    color: var(--basic-white);
    padding: 13px 0 17px 22px;
}

.services-item:hover {
    background-color: var(--basic-darkgrey);
}

.services-item:active {
    color: var(--basic-grey);
    background-color: var(--basic-white);
}

.services-item-caption {
    color: var(--basic-grey);
    margin: 0;
}

/* COMPANY */


.about-grid {
    display: grid;
    padding-top: 70px;
    padding-bottom: 70px;
    grid-template-columns: 2fr 1fr;
}

.company {
    width: 460px;
}

.company-list {
    font-family: "Cuprum";
    list-style: none;
    font-size: 18px;
}

/* ABOUT PERF */

.about-perf  {
    background-color: var(--background-grey);
}

/* FOOTER TOP */

.footer-top {
    background-color: var(--basic-grey);
    padding-bottom: 55px;
}

.footer-top-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.footer-nav-1,
.footer-nav-2 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
}

.footer-nav-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.footer-nav-1-item a {
    color: var(--background-grey);
    margin-left: 60px;
}

.footer-nav-2-item a {
    color: var(--footer-nav2);
    margin-left: 60px;
}

.footer-nav-1-item a:hover,
.footer-nav-2-item a:hover {
    text-decoration-line: underline;
}

.footer-nav-1-item a:focus,
.footer-nav-2-item a:focus {
    opacity: 0.5;
    text-decoration-line: none;
}

.footer-contacts {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 22px;
}

.footer-contacts address,
.contacts-phone-footer {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    color: var(--background-grey);
}

/* FOOTER BOTTOM */

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    background-color: var(--basic-darkgrey);
    color: var(--basic-white);
    padding-top: 36px;
    padding-bottom: 34px;
}

.footer-bottom-grid {
    
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}

.social-button-list {
    list-style: none;
    display: flex;
}

.copyright p,
.feedback p,
.developed p {
    color: var(--background-grey);
    margin: 0;
}

.feedback a,
.developed a {
    color: var(--footer-nav2);
}

.feedback a:hover,
.developed a:hover {
    text-decoration-line: underline;
}

.feedback a:focus,
.developed a:focus {
    text-decoration-line: none;
    color: var(--basic-red);
}